<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css">
    <title></title>
  </head>
  <body>
    <header>
<div class="container">

  <h1 class="logo">Rumblr</h1>

  <nav class="site-nav">
      <ul>

        <li><a href="/profile"><i class="fa fa-pencil site-nav--icon"></i>Profile</a></li>
        <li><a href=""><i class="fa fa-usd site-nav--icon"></i>Settings</a></li>
        <li><a href="/logout"><i class="fa fa-envelope site-nav--icon"></i>Logout</a></li>
      </ul>
  </nav>

  <div class="menu-toggle">
    <div class="hamburger"></div>
  </div>

</div>

</header>
<h2>You Got The Jugo Now My Knee!</h2>
<!-- <header>

<div class="container">
  <h1 class="logo">Rumblr</h1>
  <nav class="topnav">
    <ul>
    <li><a href="#logout">Logout</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#setting">Settings</a></li>
    </ul>
  </nav>

  <div class="menu-toggle">
    <div class="hamburger"></div>
  </div>

</div>
</header> -->
<script type="text/javascript" src="main.js"></script>
  </body>
</html>
