<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/home"></a>
 <form class="textbox" action="/post" method="post">
   <input type="string" placeholder="What's on your mind?"><br>
   <textarea name="feed[content]" placeholder="type away" rows="10" cols="30"></textarea>
   <input type="Submit" placeholder="Submit"><br>
 </form>


  </body>
</html>
