<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a class="myProfile" href="/profile">My Profile</a>
    <div class="posts">
      <%= post.each do |post| %>
      <div class="pot">
        <p style="font-weight:bold;"><%= post.title %></p>
        <h1><%= post.content %></h1>

    <p> <%= "Posted by, #{post.user.first_name} #{post.user.last_name}." %> </p>
      </div>
        <% end %>
    </div>
  </body>
</html>
